<!-- <% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            
    <h3>Create a new listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation">
        
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required/>
            <div class="invalid-feedback">
                Enter valid title
            </div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Enter valid Description
            </div>
        </div>

        <div class="mb-3">
        <label for="image" class="form-label">Image link</label>
        <input name="listing[image]" placeholder="Enter image URL/Link" type="text" class="form-control">
        
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1200" type="text" class="form-control" required/>
            <div class="invalid-feedback">
                Enter valid Price
            </div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text"  class="form-control" required/>
            <div class="invalid-feedback">
                Enter valid country
            </div>
        </div>
    </div>
        
        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Jaipur,Rajasthan" type="text" class="form-control" required/>
        <div class="invalid-feedback">
            Enter valid location
        </div>
        </div>
        
        <button type="submit" class="btn btn-dark add-btn mt-3">Add</button>

    </form>
</div>
</div>

<script src="/js/script.js"></script> -->

<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create new listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label" >Title</label>
                    <input type="text" class="form-control" id="title" name="listing[title]" placeholder="Enter title" required>
                    <div class="invalid-feedback">
                        Enter valid Title
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" class="form-control" name="listing[description]" placeholder="Enter the description" required></textarea>
                    <div class="invalid-feedback">
                        Enter valid Description
                    </div>
                </div>

                <div class="mb-3">
                    <label for="new-image" class="form-label">Upload Listing image</label>
                    <input type="file" class="form-control" id="new-image" name="listing[image]" required>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input  class="form-control" id="price" name="listing[price]" placeholder="Enter the price" required >
                        <div class="invalid-feedback">
                            Enter valid Price
                        </div>
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="listing[location]" placeholder="Enter the location" required>
                        <div class="invalid-feedback">
                            Enter valid Location
                        </div>
                    </div>
                    
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="listing[country]" placeholder="Enter the country" required >
                    <div class="invalid-feedback">
                        Enter valid country
                    </div>
                </div>
            
                
                <button class="btn btn-success">ADD</button>
                <br><br>
            </form>
        </div>
    </div>


<!-- <h3>Create new listing</h3>
<form method="post" action="/listings">
    <input type="text" name="listing[title]" placeholder="Enter title"><br><br>
    <textarea name="listing[description]" placeholder="Enter the description"></textarea><br><br>
    <input type="text" name="listing[image]" placeholder="Enter the image url"><br><br>
    <input type="number" name="listing[price]" placeholder="Enter the price"><br><br>
    <input type="text" name="listing[location]" placeholder="Enter the location"><br><br>
    <input type="text" name="listing[country]" placeholder="Enter the country"><br><br>
    <button>Create</button>
</form> -->